<launch>
	<include file="$(find stero_mobile_init)/launch/elektron_world.launch" />
	<node name="static_tf0" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find stero_mobile_init)/maps/map_of_home/map_of_home.yaml"/>

	<node name="alles_maker" pkg="stero_mobile_init" type="alles_maker" output="screen">
		<rosparam file="$(find stero_mobile_init)/params/proj2/costmap_params.yaml" command="load" ns="costmap" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/local_costmap_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/global_planner_params.yaml" command="load" ns="elektron_global_planner" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/local_planner_params.yaml" command="load" ns="elektron_local_planner" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/clear_costmap_recovery_params.yaml" command="load" ns="my_clear_costmap_recovery" />
		<remap from="odom" to="elektron/mobile_base_controller/odom"/>
		<remap from="cmd_vel" to="/mux_vel_raw/cmd_vel"/>
	</node>
	

	<node name="footprint" pkg="stero_mobile_init" type="footprint" />
</launch>
