<launch>
	<include file="$(find stero_mobile_init)/launch/elektron_world.launch" />
	<node name="static_tf0" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find stero_mobile_init)/maps/flat2/flat2.yaml"/>

	<node name="alles_maker" pkg="stero_mobile_init" type="alles_maker" output="screen">
		<rosparam file="$(find stero_mobile_init)/params/proj2/costmap_params.yaml" command="load" ns="costmap" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/local_costmap_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/global_planner_params.yaml" command="load" ns="elektron_global_planner" />
		<rosparam file="$(find stero_mobile_init)/params/proj2/local_planner_params.yaml" command="load" ns="elektron_local_planner" />
		<remap from="odom" to="elektron/mobile_base_controller/odom"/>
		<remap from="cmd_vel" to="/mux_vel_raw/cmd_vel"/>
		<remap from="scan" to="laser_scan"/>
	</node>
	
	<!--
	<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
		<param name="use_imu" value="false"/>
		<param name="publish_tf" value="false"/>
		<remap from="scan" to="laser_scan"/>
		<remap from="odom" to="elektron/mobile_base_controller/odom"/>
	</node>
	-->

	<node name="footprint" pkg="stero_mobile_init" type="footprint" />
</launch>
